<ckeditor #editor (ready)="onEditorReady($event)" (drop)="onDrop($event)"
    (fileUploadRequest)="onFileUploadRequest( $event )" (fileUploadResponse)="onFileUploadResponse( $event )"
    [config]="config" data=''></ckeditor>

<div class="contacts">
    <h3>List of Droppable Contacts</h3>
    <ul id="contactList"></ul>
</div>